body {
  margin: 0px;
  font-family: 'Futura';
  font-size: 20px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 70px;
}
.grey-section {
  background-color: grey;
  color: lightgrey;
}

.white-section {
  background-color: #FFFFFF;
  color: #000000;
}

.white-section ::selection,
.white-section a ::selection,
.white-section a:hover ::selection {
  background-color: #FF2B7E;
  color: #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
}

.grey-section {
  background-color: #cc000;
  color: #FFFFFF;
}

.hi{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
  .bio{
    height: 180vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

  }

    .links {
      height: 70vh;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;


}

.hi {
  font-size: 50px;
}

.bio {

  justify-content: center;
  align-items: center;
}

.bio .text {
  max-width: 500px;
  padding: 0px 5px;
  text-align: left;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 2;
}

.bio .name {
  font-size: 30px;
}

.bio a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
  border-bottom: 2px solid #000000;
}

.bio a:hover {
  color: grey;
  font-size: inherit;
  text-decoration: none;
  border-bottom: 2px solid #FFFFFF;
}

.links {
  flex-direction: column;
}

.links a {
  color: lightgrey;
  font-size: 16px;
  text-decoration: none;
  border-bottom: 0px;
  border-bottom: 2px solid lightgrey;
}

.links a:hover {
  -webkit-transition: color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  color: white;
  border-bottom: 2px solid white;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 20px 0px;
}

li {
  padding: 15px 0px;
}
